* {
    /* font-family: "Nevis"; */
}
.shoping-cart, .shoping-cart-bucket{
    display: none;
}

.shoping-cart-bucket {
    height: 100vh;
    background-color: #ddd;
}

.shoping-cart .memu-bar{
    display: flex;
    justify-content: space-between;
    
}

.shoping-cart-body >div {
    margin-top:  5px;
}

.shoping-cart-body #product-title > div {
    font-size: 10px;
}

.shoping-cart-body #size-finish {
    font-size: 10px;
}

.shoping-cart .memu-bar img{
    width:57px;
}

.btn-exit img{
    width:50px;
}

.shoping-cart .memu-bar .btn-bucket{
    position: relative;
}
.shoping-cart .memu-bar .btn-bucket span{
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    border-radius: 25px;
    background:red;
    height: 25px;
    text-align: center;
    color: #fff;
}
.shoping-cart-header .banner-image{
    display: flex;
}
.shoping-cart-header .banner-image img{
    max-height: 300px;
    margin:auto;
    max-width: 100vw;
}

.shoping-cart-body {
    padding: 0 16%;
}

.shoping-cart-body #cost-div{
    display: flex;
}

.shoping-cart-body #cost-div #old-cost{
    text-decoration: line-through;
    color:#bdbdbd;
}
.shoping-cart-body #cost-div #new-cost{
    margin-left: 5px;
}

#faq-accordian i {
    margin-right: 10px;
}

.card-header button {
    color:#212529;
    text-decoration:unset !important;
}

.card-header  i.fa {
    transition: all 0.5s;
}

.card-header.active i.fa {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#faq-list-body{
    max-height:500px;
    overflow: auto;
}

.check-out-body {
    background-color: #ddd;
}

.check-out-body #btn_check_out {
    width:75%;
    margin: auto;
}
#total-summary {
    width:80%;
    margin: auto;
    background-color: #fff;
    padding:15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom:15px;

}

#total-summary>div {
    margin-bottom: 15px;
}
.check-out-header {
    background-color: #fff;
}
.check-out-body #item-list{
    height: 50vh;
    overflow-y: auto;
    overflow-x:hidden;
    margin-right: -15px;
    margin-left: -15px;
}

.check-out-body .cart-item img{
    width: 100px;
}
.check-out-body .cart-item {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: solid 1px #ddd;
}

.check-out-body .cart-item .col-8 > div:first-child{
    display: table;
}

.check-out-body .cart-item .col-4{
    text-align: center;
}
.check-out-body .cart-item .col-4 >div:first-child {
    text-decoration: line-through;
}

.check-out-body .cart-item .col-4 >div:nth-child(1) {
    color:#bdbdbd;
}


.check-out-body .cart-item .col-8 > div:first-child > div{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.check-out-body .cart-item .col-8 > div:first-child > img{
    margin-right: 10px;
}
.check-out-body .cart-item .col-8 > div:last-child{
    font-size: 12px;
}
.check-out-body h1 {
    line-height: 2em;
    text-align: center;
}

#check-out-ifram {
    width: 100%;
    height:100vh;
}
.nav-bar-header {
    height:32px;
    padding:4px;
    background: rgba(0, 0, 0, 0.62);
    position: fixed;
    top:0px;
    width: 100%;
}
/* login */
#btn-login,#btn-logout{
    margin-top: 5px;
    margin-right: 20px;
    color: white;
}

/* #btn-logout {
    margin-top: 5px;
    margin-right: 20px;
    color: white;
} */

.login-form{
    margin: auto;
    max-width: 600px;
    margin-top: 36px;
    border: 1px solid #EAEAEA;
}
.login-signup-toggle {
    display: inline-flex;
    width: 100%;
}
.login-signup-toggle>div{
    width: 50%;
    text-align: center;
    padding:16px;
    background: #F6F7F8;
    color: #B1B2B3;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 1px solid #EAEAEA;

}
.login-signup-toggle>div:hover{
    color: #ab0007;
    background-color: #E9EAEB;
}
.login-signup-toggle>div.active{
    border: 1px solid transparent;
    background: #ffffff !important;
    color: #ab0007;
}

.login-signup-toggle>div:first-child{
    border-right-color: #EAEAEA;
}

.login-signup-body{
    padding: 16px 64px;
    padding-top:48px;
}

#btn-google {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
}

#btn-sign-in, #btn-sign-up{
    margin-top: 20px;
    height: 64px;
    width: 100%;
    color: #fff;
    background-color: #ab0007;
    border-color: #ab0007;
}
.or-text{
    margin-bottom: 10px;
    margin-top: 10px;
}
.or-text>span{
    width: 35%;
    margin: 0 10px;
    display: inline-block;
    border-bottom: 1px solid #EAEAEA;
    vertical-align: middle;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;

}
.error-text {
    color:red;
}

.logo-image-link img{
    width: 150px;
    margin-top: 44px;
    margin-left: 32px;
}
.default-grey-bar{
    height: 32px;
    background: #ddd;
    width: 100%;
}

.consent-layout{
    position: fixed;
    bottom: 0;
    margin-bottom: -200px;
    width: 100%;
    background: #000;
    opacity: 0.8;
    color:#FFF;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding:20px;
    display: table;
    vertical-align: middle;
}
.consent-layout.active {
    margin-bottom: 0px;
}
.consent-layout div{
    display: table-cell;
}


#debug-form{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}